body {
  background-color: #cccccc;
}

.bg {
  height: 837px;
  width: 900px;
  position: relative;
  left: -400px;
  top: -210px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ca/Sasa_Rindo.svg);
  background-size: cover;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

h1 {
  color: #1F4788;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub {
  outline: #999999 dotted thick;
  color: #1F4788;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input.upfile {
  width: 30%;
}

input.inputtext {
  width: 10%;
}

img.showimg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  //max-height: 60%;
  max-width: 60%;
}