<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    <meta charset="UTF-8">
    <title>源氏のために勉強せよ！</title>
  </head>

  <div class="bg">
  </div>

  <body>

    <h1>問題管理システム</h1>



    <form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
      <div class="sub">
        <p class="main">HP: {{hp}},  初答正确数: {{onekill}},  目标100问东工数学的进度是: {{progress}}%
        </p>
		
        <input class="upfile" id="File1" type="file" name="qus" />
        <input class="upfile" id="File2" type="file" name="ans" />
        <select class="form-control" name="kamoku" id="manufacturer">
          <option selected="selected">--問題の科目--</option>
          <option>math</option>
          <option>physical</option>
          <option>chemistry</option>
		  <option>TIT</option>
          <option>YNU</option>
        </select>
		包含问题数
		<select class="form-control" name="containqus" id="manufacturer">
          <option selected="selected">1</option>
          <option>2</option>
          <option>3</option>
		  <option>4</option>
          <option>5</option>
          <option>6</option>
		  <option>7</option>
		  <option>8</option>
		  <option>9</option>
		  <option>10</option>
        </select>
		<br>
        得点:
        <input class="inputtext" type="text" name="point" value="0">
		memo:
        <input class="inputtext" type="text" name="memo" value="0">
        <input type="submit" name = "button" value = "imgupload" ></input>
		<br>
		初答正确
		<select class="form-control" name="onekillnum" id="manufacturer">
          <option selected="selected">--初答正确数--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
		  <option>4</option>
          <option>5</option>
          <option>6</option>		  
        </select>
		<input type="submit" name = "button" value = "onekill" id="onekillButton" />
		<br>
		<input type="submit" name = "button" value = "quizlet" id="quizletButton" />		
		<br>
		過去問を解く
		<select class="form-control" name="qus_type" id="manufacturer">
          <option selected="selected">--all--</option>
          <option>math</option>
          <option>physical</option>
          <option>chemistry</option>
		  <option>TIT</option>
        </select>
		<input type="submit" name = "button" value = "old" id="oldqusButton" />	
		<input type="submit" name = "button" value = "show_img" id="oldqusButton" />		
		<input type="submit" name = "button" value = "skip" id="oldqusButton" />		
        <input type="submit" name = "button" value = "hold" id="oldqusButton" />		
		{{remenber}}
      </div>
    </form>

	<img class="showimg" src="{{ img_stream }}">  

  </body>

</html>

<!--git add -A // To track all files

git commit -am "message" // To commit changes

git push origin master // Push your local changes to bitbucket-->
