<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/oldqusstyle.css">
    <meta charset="UTF-8">
    <title>源氏のために勉強せよ！</title>
  </head>

  <body>    

	
	<form id="form2" method="post" action="/api/upload2" enctype="multipart/form-data">
		<div class="frame">	
			显示答案:
			<input type="submit" name = "button" value = "show_answer" id="answerButton" />		
			<img class="showimg" src="{{ img_stream }}">  
			<br>
			包含问题个数{{contain}}, 问题类型{{tag}}
			<br>
			显示答案:
			<input type="submit" name = "button" value = "show_answer" id="answerButton" />		
		</div>
	</form>

  </body>
  
  <div class="bg">
  </div>
</html>

<!--git add -A // To track all files

git commit -am "message" // To commit changes

git push origin master // Push your local changes to bitbucket-->
